.list-product {
    width: 100%;
    background-color: white;
}

.noHeading {
    font-size: 20px;
    color: var(--bg-secondary);
    margin-bottom: 20px;
    text-align: center;
    padding: 50px 0;
    height: 50px;
}

.sectionHeading {
    margin-top: 5px;
    padding: 20px 20px;
    position: relative;
    font-size: 20px;
    color: var(--bg-secondary);
    margin-bottom: 20px;
}

.newStyleSection {
    margin-top: 5px;
    padding: 20px 20px;
    position: relative;

    .sectionHeading {
        font-size: 20px;
        color: var(--bg-secondary);
        margin-bottom: 20px;
    }

    .sectionDescription {
        font-size: 16px;
        color: var(--text-secondary);
        margin-bottom: 40px;
    }

    .productList {
        display: flex;
        justify-content: center;
        gap: 20px;
        flex-wrap: wrap;
    }
}

.all-product-container {
    display: flex;
    justify-content: center; /* Căn giữa theo chiều ngang */
    align-items: center; /* Căn giữa theo chiều dọc */
}


.all-product {
    font-size: 16px;
    color: var(--bg-secondary);
    margin-bottom: 15px;
    height: 5px;
    cursor: pointer;
    text-decoration: underline; /* Thêm gạch chân */
}

.all-product:hover {
    color: var(--bg-primary); /* Thay đổi màu khi hover */
    text-decoration: underline; /* Đảm bảo vẫn có gạch chân khi hover */
}
