@import url('https://fonts.googleapis.com/css2?family=Clicker+Script&display=swap');

/* Home Page Wrapper */
.homePage {
    padding-top: 5px;
    width: 100%;
    overflow-x: hidden;
    background-color: white;
    .hero-section {
        display: flex;
        gap: 2rem;
        flex-wrap: wrap;

        .hero-slider {
            flex: 2;
            min-width: 300px;
        }

        .hero-banners {
            flex: 1;
            display: flex;
            flex-direction: column;
            gap: 1rem;

            img {
                width: 100%;
                height: auto;
                border-radius: 8px;
                object-fit: cover;
                box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            }
        }
    }}

/* New Cafe Style Section */
.newStyleSection {
    margin-top: 10px;
    padding: 50px 20px;
    position: relative;


    .sectionHeading {
        font-size: 20px;
        color: var(--text-secondary);
        margin-bottom: 20px;
    }

    .sectionDescription {
        font-size: 16px;
        color: var(--text-secondary);
        margin-bottom: 40px;
    }

    .productList {
        display: flex;
        justify-content: center;
        gap: 20px;
        flex-wrap: wrap;
    }
}

/* Favorites Section */
.favoritesSection {
    margin-top: 50px;
    padding: 50px 20px;
    text-align: center;

    .sectionHeading {
        font-size: 54px;
        color: var(--bg-secondary);
        margin-bottom: 20px;
    }

    .sectionDescription {
        font-size: 16px;
        color: var(--text-secondary);
        margin-bottom: 40px;
    }

    .coffeeList {
        display: flex;
        justify-content: center;
        gap: 20px;
        flex-wrap: wrap;
    }
}

.all-product-container {
    display: flex;
    justify-content: center; /* Căn giữa theo chiều ngang */
    align-items: center; /* Căn giữa theo chiều dọc */
}


.all-product {
    font-size: 16px;
    color: var(--bg-secondary);
    margin-bottom: 15px;
    height: 5px;
    cursor: pointer;
    text-decoration: underline; /* Thêm gạch chân */
}

.all-product:hover {
    color: var(--bg-primary); /* Thay đổi màu khi hover */
    text-decoration: underline; /* Đảm bảo vẫn có gạch chân khi hover */
}
