@import url('https://fonts.googleapis.com/css2?family=Clicker+Script&display=swap');

/* Home Page Wrapper */
.homePage {
    padding-top: 10px;
    width: 100%;
    overflow-x: hidden;
    background-color: white;
}

/* Search Bar Section */
.first-section{
    display: flex;
    width: 100%;
    height: 400px;
}

.slider{
    height: 100%;
    width: 70%;
}

.banner{
    margin-left: 10px;
    width: 30%;
    height: 100%;
    display: flex;
    flex-direction: column; /* Xếp theo chiều dọc */
    gap: 10px; /* Khoảng cách giữa các hàng */

    img{
        width: 100%;
    }
}

/* New Cafe Style Section */
.newStyleSection {
    margin-top: 10px;
    padding: 50px 20px;
    position: relative;


    // .coffeeBlastDown {
    //     transform: scaleX(-1);
    //     position: absolute;
    //     bottom: -200px;
    //     right: 0;
    //     width: 200px;
    //     height: auto;
    // }

    .sectionHeading {
        font-size: 20px;
        color: var(--bg-secondary);
        margin-bottom: 20px;
    }

    .sectionDescription {
        font-size: 16px;
        color: var(--text-secondary);
        margin-bottom: 40px;
    }

    .productList {
        display: flex;
        justify-content: center;
        gap: 20px;
        flex-wrap: wrap;
    }
}

/* Favorites Section */
.favoritesSection {
    margin-top: 50px;
    padding: 50px 20px;
    text-align: center;

    .sectionHeading {
        font-size: 54px;
        color: var(--bg-secondary);
        margin-bottom: 20px;
    }

    .sectionDescription {
        font-size: 16px;
        color: var(--text-secondary);
        margin-bottom: 40px;
    }

    .coffeeList {
        display: flex;
        justify-content: center;
        gap: 20px;
        flex-wrap: wrap;
    }
}

/* Footer */
.footer {
    position: relative;
    margin-top: 50px;

      .footer-bottom {
    width: 100%;
    background: #44B2E6;
    padding-top: 15px;
    bottom: 0px;
  }
  
  .footer-powered {
    margin-left: 146px;
    font-size: 16px;
    color: var(--white);
  }
  
  .highlight-orange {
    color: #FF9000;
    padding: 2px 5px;
  }
  
  .footer-text {
    width: 100%;
    text-align: center;
    display: inline;
    padding: 30px 0;
  }

  .flex-row-space {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: end;
    gap: 30px;
  }

    .footerTop {
        width: 100%;
        margin-bottom: 0;
    }

    .cfImage2 {
        position: absolute;
        left: 0;
        top: 20%;
        width: 150px;
        height: auto;
    }

    .cfImage2Right {
        position: absolute;
        right: 0;
        top: 20%;
        transform: scaleX(-1);
        width: 150px;
        height: auto;
    }

    .footerContent {
        margin-top: 0;
        padding: 20px;
        height: 480px;
        text-align: left;
        color: rgb(246, 241, 241);
        background-size: contain;

        .footerDesc {
            width: 50%;
            margin-bottom: 20px;

            p {
                font-size: 14px;
                line-height: 1.5;
            }
        }

        .footerLogoText {
            font-family: 'Clicker Script', cursive !important;
            font-size: 54px;
            font-weight: 400;
            line-height: 71.32px;
            text-align: left;
            text-underline-position: from-font;
            text-decoration-skip-ink: none;
            margin-bottom: 20px;
        }

        .footerNav {
            display: flex;
            justify-content: space-evenly;
            margin-top: 130px;
            gap: 50px;

            ul {
                list-style: none;
                padding: 0;

                li:first-child {
                    font-weight: bold;
                    font-size: 26px;
                    margin-bottom: 30px;
                }

                li {
                    margin-bottom: 10px;
                }
            }
        }

        .info {
            display: flex;
            gap: 100px;
        }
    }
}

