@import url('https://fonts.googleapis.com/css2?family=Clicker+Script&display=swap');

/* Home Page Wrapper */
.homePage {
    padding-top: 10px;
    width: 100%;
    overflow-x: hidden;
    background-color: white;
}

/* Search Bar Section */
.first-section{
    display: flex;
    width: 100%;
    height: 400px;
}

.slider{
    height: 100%;
    width: 70%;
}

.banner{
    margin-left: 10px;
    width: 30%;
    height: 100%;
    display: flex;
    flex-direction: column; /* Xếp theo chiều dọc */
    gap: 10px; /* Khoảng cách giữa các hàng */

    img{
        width: 100%;
    }
}

/* New Cafe Style Section */
.newStyleSection {
    margin-top: 10px;
    padding: 50px 20px;
    position: relative;


    .sectionHeading {
        font-size: 20px;
        color: var(--bg-secondary);
        margin-bottom: 20px;
    }

    .sectionDescription {
        font-size: 16px;
        color: var(--text-secondary);
        margin-bottom: 40px;
    }

    .productList {
        display: flex;
        justify-content: center;
        gap: 20px;
        flex-wrap: wrap;
    }
}

/* Favorites Section */
.favoritesSection {
    margin-top: 50px;
    padding: 50px 20px;
    text-align: center;

    .sectionHeading {
        font-size: 54px;
        color: var(--bg-secondary);
        margin-bottom: 20px;
    }

    .sectionDescription {
        font-size: 16px;
        color: var(--text-secondary);
        margin-bottom: 40px;
    }

    .coffeeList {
        display: flex;
        justify-content: center;
        gap: 20px;
        flex-wrap: wrap;
    }
}
