.dashboardContainer {
  padding: 24px;
  background: #f9f9f9;
  min-height: 100vh;
}

.title {
  font-size: 28px;
  font-weight: 700;
  color: #333;
  margin-bottom: 24px;
  text-align: center;
}

.chartBox {
  background-color: #fff;
  padding: 20px;
  border-radius: 20px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.05);
  height: 100%;
  margin-right: 10px;
}

.statsBox {
  background-color: #fff;
  padding: 20px 30px;
  border-radius: 20px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.05);
  display: flex;
  flex-direction: column;
  gap: 20px;
  height: 100%;
  margin-left: 10px;
}

.label {
  font-size: 16px;
  color: #666;
  font-weight: 500;
}

.valueRed {
  font-size: 22px;
  font-weight: 700;
  color: #ff4d4f;
}

.valueBlue {
  font-size: 22px;
  font-weight: 700;
  color: #1890ff;
}

.valueGreen {
  font-size: 22px;
  font-weight: 700;
  color: #52c41a;
}

.summaryBox {
  margin-top: 30px;
  gap: 10px;
  display: flex;
  flex-direction: column;
}

.summaryItem {
  background-color: #fff;
  padding: 20px 30px;
  border-radius: 20px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.05);
  text-align: center;
}

.highlight {
  font-size: 18px;
  font-weight: 600;
  color: #333;
  margin-bottom: 10px;
}

.productName {
  font-size: 20px;
  font-weight: 700;
  color: #555;
  margin-bottom: 5px;
}
 ///fnwjf
 /// 
 
.summaryGrid {
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(2, 1fr); // 3 cột
    gap: 20px;
    
    @media (max-width: 992px) {
        grid-template-columns: repeat(2, 1fr); // nhỏ hơn 992px thì 2 cột
    }

    @media (max-width: 600px) {
        grid-template-columns: 1fr; // nhỏ hơn 600px thì 1 cột
    }
}

.summaryItem {
    background: #fff;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
}
