.container {
    background-color:#E3F2FD;
    height: 100vh;
    position: relative;
}

.main {
    margin: auto;
    width: 720px;
    height: 580px;
    background-color: var(--bg-primary);
    display: flex;
    padding: 8px 4px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    border-radius: 8px;
}

.left-content {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.register-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

.logo {
    width: 200px;
}

.title {
    font-size: 20px;
    font-weight: 700;
    display: flex;
    align-items: center;

    span {
        color: var(--bg-secondary);
    }

    img {
        height: 20px;
        margin-left: 10px;
        padding-bottom: 2px;
    }
}

.google-register {
    span {
        font-weight: 500;
    }

    button {
        border: 1px solid black;
    }
}

.separate {
    margin: 15px 0 2px;
    font-size: 13px;

    .separate-text {
        position: relative;
    }

    .separate-text::before {
        position: absolute;
        top: 50%;
        left: -122px;
        content: "";
        width: 300%;
        height: 0.5px;
        background-color: var(--bg-secondary);
    }

    .separate-text::after {
        position: absolute;
        top: 50%;
        content: "";
        right: -122px;
        width: 300%;
        height: 0.5px;
        background-color: var(--bg-secondary);
    }
}

.register-form {
    width: 300px;

    .register-input {
        display: flex;
        flex-direction: column;
        gap: 25px;
        align-items: center;
        margin: 8px 0 12px;
    }

    .register-checkbox {
        display: flex;
        align-items: center;
    
        label {
            font-size: 12px;
            user-select: none;
            margin-left: 4px;
        }
    }

    .submit-btn {
        padding-left: 80px;
        width: 100%;
        margin: 10px 0;
    }
}

.register-footer {
    font-size: 13px;

    a {
        color: var(--bg-secondary);
        text-decoration: underline;
    }
}

.right-content {
    flex: 1;
    padding-right: 8px;

    img {
        width: 100%;
        height: 100%;
        // object-fit: cover;
        border-radius: 10px;
    }
}
input:-webkit-autofill {
    background-color: transparent ;
    box-shadow: 0 0 0px 1000px white inset ;
}