.category-container {
    position: fixed;
    top: 70px;
    left: 0;
    width: 100%;
    padding: 0px 40px 0px 20px;
    background: #d9d9d9;
    font-family: Arial, sans-serif;
    z-index: 99;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.category-menu {
    display: flex;
    align-items: center;

    .menu-toggle {
        display: flex;
        align-items: center;
        background: #d9d9d9;
        color: #000;
        font-size: 16px;
        font-weight: bold;
        border: none;
        padding: 12px;
        width: 100%;
        margin-top: 5px;
        text-align: left;
        cursor: pointer;
        transition: background 0.3s ease;

        &:hover {
            background-color: #e60000;
        }

        svg {
            margin-right: 10px;
        }
    }

    .menu-dropdown {
        position: absolute;
        top: 100%;
        left: 0;
        width: 200px;
        margin-left: 20px;
        background: white;
        box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
        border-radius: 4px;
        overflow: hidden;
        display: none;

        &.open {
            display: block; /* Hiển thị khi mở */
        }
    }

    .menu-item {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 12px;
        font-size: 14px;
        cursor: pointer;
        border-bottom: 1px solid #f1f1f1;
        transition: background 0.3s ease;

        &:hover {
            background: #f8f8f8;
            color: #e60000;
        }

        .arrow-icon {
            color: gray;
            transition: transform 0.2s;
        }

        &:hover .arrow-icon {
            transform: translateX(4px);
            color: #e60000;
        }
    }
}

.extra-menu {
    display: flex;
    align-items: center;
    gap: 20px;

    .menu-item {
        display: flex;
        align-items: center;
        font-size: 16px;
        gap: 5px;
        font-weight: bold;
        cursor: pointer;
        color: #000;

        .menu-item .icon {
            margin-right: 8px;
        }

        &:hover {
            color: #e60000;
        }
    }
}
