.button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    font-weight: 200;
    color: var(--text-color);
    border-radius: 10px;
    cursor: pointer;
    user-select: none;
    @extend .medium;

    &.shadow {
        box-shadow: 0px 4px 4px 0px #00000040;
    }

    &.disabled {
        opacity: 0.5;
        pointer-events: none;
    }

    &.curved {
        border-radius: 999px;
    }

    &.circle {
        padding: 5px;
        aspect-ratio: 1 / 1;
        border-radius: 50%;
    }
}

// Icons
.icon {
    display: inline-block;
    width: fit-content;
    text-align: center;
}

// .content {
//     flex: 1;
//     display: flex;
//     align-items: center;
//     justify-content: start;

//     &.center {
//         justify-content: center;
//     }
// }

.icon + .content,
.content + .icon {
    margin-left: calc(var(--font-size) / 2);
}

// Type
.text {
    background-color: transparent;
    color: var(--text-color);
    text-decoration: underline;

    &:hover,
    &.active {
        color: var(--cl-primary);
    }
}

.primary {
    background-color: var(--cl-primary);
    color: white;

    &:hover,
    &.active {
        background-color: var(--cl-secondary);
    }
}

.secondary {
    background-color: var(--cl-secondary);
    color: var(--text-color);

    &:hover,
    &.active {
        background-color: var(--cl-primary);
    }
}

.danger {
    background-color: rgb(12, 197, 248);
    color: white;

    &:hover,
    &.active {
        background-color: rgb(86, 183, 248);
    }
}

.extra {
    background-color: #e8e8e8;
    color: var(--text-color);

    &:hover,
    &.active {
        background-color: var(--cl-primary);
    }
}

.no-background {
    background-color: transparent;
    color: var(--text-color);

    &:hover,
    &.active {
        color: var(--cl-primary);
    }
}

// Size
.medium {
    padding: 9px 18px;
    font-size: 16px;
}

.small {
    padding: 6px 12px;
    font-size: 14px;
}

.large {
    padding: 12px 24px;
    font-size: 18px;
}

.no-click {
    pointer-events: none;
}