.container {
    display: flex;
    // width: 870px;
    height: 74px;
    background: white;
    align-items: center;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 16px;
    color: black;
    padding-right: 20px;
}

.columnSTT,
.columnImage,
.columnName,
.columnUnit,
.columnPrice,
.columnQuantity,
.columnDelete {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.columnSTT {
    width: 60px;
}

.columnImage {
    width: 100px;
}

.columnName {
    width: 345px;
}

.columnUnit {
    width: 100px;
}

.columnPrice {
    width: 105px;
}

.columnUnit,
.columnPrice,
.columnQuantity {
    width: 100px;
    text-align: center;
}

.readonlyQuantity {
    display: inline-block;
    padding: 6px 12px;
    background-color: #f3f3f3;
    border-radius: 4px;
}
