.wrapper {
  padding: 20px;
}

.title {
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  margin-top: 40px;
  margin-bottom: 20px;
}


.filterRow {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
  flex-wrap: wrap;
}

.input {
  width: 200px;
  margin: 10px;
}

.btn{
  margin: 10px;
}

.modalContent {
  padding: 10px 0;

  p {
    margin-bottom: 6px;
  }

  h3 {
    margin-top: 20px;
  }
}

.cartItem {
  margin-top: 10px;

  hr {
    margin: 10px 0;
  }
}
